
.left-col {
margin-right: 109px;
}
.left-paragraph {
  font-family: 'Roboto Mono';
  margin-top: 80px;
  font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
color: #474747;
margin-bottom: 36px;
}
.left-col-paragraph {
  font-family: 'Roboto Mono';
  font-family: 'Roboto Mono';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
color: #474747;
margin-bottom: 28px;
}
.left-col-btn {
  font-family: 'Roboto Mono';
  font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
color: #474747;
background-color: transparent;
border: none;
}
.left-col-list {
  display: flex;
  align-items: center;
  margin-top: 54px;
}
.left-col-item + .left-col-item {
  margin-left: 24px;
}